extends layout

block content
  div modified at 4:41pm
  h1= title
  .alert.alert-primary Welcome Express + PUG + Bootstrap + Jquery Boilerplate for Vercel #{title}
  .alert.alert-success Welcome Express + PUG + Bootstrap + Jquery Boilerplate for Vercel #{title}
  
